<!doctype html>

<meta charset="utf-8">
<title>Recipe Demo</title>

<link rel="stylesheet" href="./stylesheets/demo.css">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/javascripts/dagre-d3.js"></script>

<!-- Pull in JQuery dependencies -->
<link rel="stylesheet" href="/stylesheets/tipsy.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/javascripts/tipsy.js"></script>

<h1>Recipe Demo</h1>

<style id="css">
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
}

/* This styles the title of the tooltip */
.tipsy .name {
  font-size: 1.5em;
  font-weight: bold;
  color: #60b1fc;
  margin: 0;
}

/* This styles the body of the tooltip */
.tipsy .description {
  font-size: 1.2em;
}
</style>

<svg id="first" width=950 height=600></svg>
<svg id="second" width=950 height=600></svg>
<svg id="third" width=950 height=600></svg>

<section>
<p>The TCP state diagram
(<a href="http://www.rfc-editor.org/rfc/rfc793.txt">source: RFC 793</a>) with
hover support. Uses <a href="http://bl.ocks.org/ilyabo/1373263">tipsy JS and CSS</a>
for the tooltip.
</section>

<script src="/javascripts/controllers-client/progress.js"></script>
<script src="/javascripts/demo.js"></script>
<script src="/javascripts/tsne.js"></script>
<script src="/javascripts/render-graph.js"></script>
<script src="/javascripts/single-graph.js"></script>
