<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Baxster an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Baxster Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascripts"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="stylesheets/styleMain.css" rel='stylesheet' type='text/css' /> 
<!-- Custom CSS -->
<link href="stylesheets/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<link rel="icon" href="favicon.ico" type="image/x-icon" >
<!-- font-awesome icons -->
<link href="stylesheets/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script src="javascripts/modernizr.custom.js"></script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="stylesheets/animate.css" rel="stylesheet" type="text/css" media="all">

<!--Demo Links-->
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/javascripts/dagre-d3.js"></script>

<!-- Pull in JQuery dependencies -->
<link rel="stylesheet" href="/stylesheets/tipsy.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/javascripts/tipsy.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

<style id="css">
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
}

/* This styles the title of the tooltip */
.tipsy .name {
  font-size: 1.5em;
  font-weight: bold;
  color: #60b1fc;
  margin: 0;
}

/* This styles the body of the tooltip */
.tipsy .description {
  font-size: 1.2em;
}
</style>

<!-- Metis Menu -->
<link href="stylesheets/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		<!--left-fixed -navigation-->
		<div class="sidebar" role="navigation">
            <div class="navbar-collapse">
				<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" id="cbp-spmenu-s1">
					<div class="scrollbar scrollbar1">
						<ul class="nav" id="side-menu">
							<li>
								<a href="#" class="active"><i class="fa fa-home nav_icon"></i>Dashboard</a>
							</li>
						</ul>
					</div>
					<!-- //sidebar-collapse -->
				</nav>
			</div>
		</div>
		<!--left-fixed -navigation-->
		<!-- header-starts -->
		<div class="sticky-header header-section ">
			<div class="header-left">
				<!--logo -->
				<div class="logo">
					<a href="index.html">
						<ul>	
							<li><img src="images/pear_logo.png" alt="" /></li>
							<li><h1>uma.mi</h1></li>
							<div class="clearfix"> </div>
						</ul>
					</a>
				</div>
				<!--//logo-->
				<div class="header-right header-right-grid">
					<div class="profile_details_left"><!--notifications of menu start -->
						<!-- <ul>
							<li>Filtering options go here</li>
							<li>Number 2</li>
						<ul> -->
						<div class="row">
						        <div class="col-sm-3 rows"> 
						        <ul id="searchContents"></ul>
          <ul id="colingredientYES"><u>To Include</u></ul>
          <ul id="colactionYES"><u></u></ul>
        </div>
        <div class="col-sm-3 rows">  
          <ul id="colingredientNO"><u>To Exclude</u></ul>
          <ul id="colactionNO"></ul>
        </div>
       	</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				
				
				<div class="clearfix"> </div>
			</div>
			<!--search-box-->
				<div class="search-box">
					<form class="input">
						<input class="searchBar sb-search-input input__field--madoka" placeholder="Search..." type="search" id="input-31" />
					</form>
				</div>
				<!--//end-search-box-->
			<div class="header-right">
				
				<!--notification menu end -->
				<div class="profile_details">	

					<ul>
						<li>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="dropdown">YES
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li onclick="switchValue(event)">NO</a></li>
              <li onclick="switchValue(event)">YES</a></li>
            </ul>
          </div>
						</li>
						<li class="dropdown profile_details_drop">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">	
									<span class="prfil-img"><img src="images/a.png" alt=""> </span> 
									<div class="clearfix"></div>	
								</div>	
							</a>
							<ul class="dropdown-menu drp-mnu">
								<li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li> 
								<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> 
								<li> <a href="#"><i class="fa fa-sign-out"></i> Logout</a> </li>
							</ul>
						</li>
					</ul>
				</div>
				<!--toggle button start-->
				<button id="showLeftPush"><i class="fa fa-bars"></i></button>
				<!--toggle button end-->
				<div class="clearfix"> </div>				
			</div>
			<div class="clearfix"> </div>	
		</div>
		<!-- //header-ends -->
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
			
				<!-- four-grids -->
				<div class="row four-grids">
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-book"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>Search <span>Size</span></h3>
								<p id="searchSize">452</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-rocket"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>New <span>Projects</span></h3>
								<p>745</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-bar-chart"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>Our <span>Status</span></h3>
								<p>125</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-3 ticket-grid">
						<div class="tickets">
							<div class="grid-left">
								<div class="book-icon">
									<i class="fa fa-user"></i>
								</div>
							</div>
							<div class="grid-right">
								<h3>Daily <span>Visitors</span></h3>
								<p>7462</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //four-grids -->
				<!--row-->
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-widget">
							<div class="tables">
							<h4>Top 5 Ingredients:</h4>
							<table class="table">
								<thead>
									<tr>
									  <th>#</th>
									  <th>Ingredient Name</th>
									  <th>Frequency</th>
									</tr>
								</thead>
								<script id="top5_template" type="text/x-handlebars-template">
								<span>yo</span>
								{{this}} 
								</script> 
								<tbody id="top5_content"></tbody>
							</table>
						</div>
						</div>
						
					</div>
					<div class="col-md-6">
						<div class="panel panel-widget">
								<div class="tables">
								<h4>Basic Table:</h4>
								<table class="table">
									<thead>
										<tr>
										  <th>#</th>
										  <th>First Name</th>
										  <th>Last Name</th>
										  <th>Username</th>
										</tr>
									</thead>
									<tbody>
										<tr>
										  <th scope="row">1</th>
										  <td>Mark</td>
										  <td>Otto</td>
										  <td>@mdo</td>
										</tr>
										<tr>
										  <th scope="row">2</th>
										  <td>Jacob</td>
										  <td>Thornton</td>
										  <td>@fat</td>
										</tr>
										<tr>
										  <th scope="row">3</th>
										  <td>Larry</td>
										  <td>the Bird</td>
										  <td>@twitter</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
					
					<div class="clearfix"> </div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-widget">
							<div id="containerRecipeChart" style="width: 100%; height:500px; max-width: 600px; margin: 0 auto"></div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="panel panel-widget">
							<svg id="first" style="width: 100%; height: 500px"></svg>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!--//row-->
				<!--row-->
				
				<!--//row-->
				<!--row-->
				<div class="row" id="row1">
				</div>

				<div class = "row" id="row2">
				</div>

				<div class = "row" id="row3">
				</div>
				<!--//row-->
			</div>
		</div>
		<!---->
		 <div class="dev-page">
	 
			<!-- page footer -->   
			<!-- dev-page-footer-closed dev-page-footer-fixed -->
           
		</div>
        <!--//footer-->
	</div>
	<!-- Classie -->
		<script src="javascripts/classie.js"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;
				
			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};
			

			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>

	<!-- HANDLEBARS TEMPLATES -->


	<!-- Bootstrap Core javascripts --> 
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
		<script type="text/javascript" src="javascripts/recipe-scatter-highcharts.js"></script>
		
        <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>

        <script type="text/javascript" src="javascripts/dev-loaders.js"></script>
        <script type="text/javascript" src="javascripts/dev-layout-default.js"></script>
		<script type="text/javascript" src="javascripts/jquery.marquee.js"></script>
		
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		
		<!--scrolling js-->
		<script src="javascripts/jquery.nicescroll.js"></script>
		<script src="javascripts/scripts.js"></script>
		<!--//scrolling js-->
		<script src="/javascripts/controllers-client/progress.js"></script>
		<script src="/javascripts/render-closed.js"></script>
		<script src="/javascripts/render-graph.js"></script>
		<script src="/javascripts/tsne.js"></script>
		<script src="/javascripts/single-graph.js"></script>
		<script src="/javascripts/render-search.js"></script>
		<script src="/javascripts/search.js"></script>
		
		<!-- real-time-updates -->
		<script language="javascripts" type="text/javascript" src="javascripts/jquery.flot.js"></script>
		<script type="text/javascript" src="javascripts/plugins.js"></script>
	
</body>
</html>